body {
    text-align: center;
      background-color:white;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-z1lI76XIZNbN8OFGnQHSHotdVhwIxlMP4A&usqp=CAU');
}


header {
    font-family: 'Varela', serif;
    padding-top: 40;
    padding-bottom: 40;
    background-color:#0000FF;
    color: white;
}

.btn {
    background-color:white ;
}


input {
    margin: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 35%;
    background-color:white;
}

@media screen and (max-width: 500px) {
    input {
        width: 100%;
    }
}
